Repository guillaumedsde/ssh-ldap: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-containers, dockerhub-readme, pages

.gitlab-ci.yml:

stages:
  - build
  - deploy

build-containers:
  image: docker:latest
  stage: build
  services:
    - name: "docker:dind"
      command: ["--experimental"]
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_BUILDKIT: 1
    DOCKER_CLI_EXPERIMENTAL: enabled
    BUILDX_URL: https://github.com/docker/buildx/releases/download/v0.4.2/buildx-v0.4.2.linux-amd64
    BUILDX_BUILDER: builder
    BUILDX_PLATFORM: linux/amd64,linux/arm64,linux/arm/v7,linux/arm/v6,linux/ppc64le
  before_script:
    - chmod +x ./build/prepare_builder.sh
    - . ./build/prepare_builder.sh
  script:
    - chmod +x ./build/build.sh
    - . ./build/build.sh
  only:
    changes:
      - Dockerfile
      - rootfs/**/*
      - .gitlab-ci.yml
      - build/**/*

# the 'pages' job will deploy and build your site to the 'public' path
dockerhub-readme:
  stage: deploy
  variables:
    README_PATH: ./README.md
  image:
    name: sheogorath/readme-to-dockerhub:latest
    entrypoint: [""]
  script:
    - node /app/index.js
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

# the 'pages' job will deploy and build your site to the 'public' path
pages:
  stage: deploy
  # requiring the environment of NodeJS 10
  image: node:10
  # add 'node_modules' to cache for speeding up builds
  cache:
    paths:
      - node_modules/ # Node modules and dependencies
  before_script:
    - npm install gitbook-cli -g # install gitbook
    - gitbook fetch 3.2.3 # fetch final stable version
    - gitbook install # add any requested plugins in book.json
  script:
    - gitbook build . public # build to public path
  artifacts:
    paths:
      - public
    expire_in: 1 week
  only:
    refs:
      - master
    changes:
      - README.md
      - .gitlab-ci.yml

fix: cleanup docker image after build
  Dockerfile
Due: build-containers

feat: port 2222 by default
  Dockerfile
  rootfs/etc/services.d/sshd/run
Due: build-containers

feat: generate ssh keys
  rootfs/etc/cont-init.d/01-configuration-checks
  rootfs/etc/cont-init.d/02-create-ssh-keys
  rootfs/etc/services.d/nslcd/run
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: start sshd in daemon mode
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: execute /usr/bin/ssh
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: launch sshd
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: sshd path
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: create all necessary SSH keys
  rootfs/etc/cont-init.d/02-create-ssh-keys
Due: build-containers

docs: document read-only mode
  README.md
Due: dockerhub-readme, pages

feat: use volume for SSH keys
  Dockerfile
  README.md
  rootfs/etc/cont-init.d/02-create-ssh-keys
  rootfs/etc/services.d/sshd/run
Due: build-containers, dockerhub-readme, pages

docs: remove unused env var
  README.md
Due: dockerhub-readme, pages

docs: updated docs on mounting sshd_config
  README.md
Due: dockerhub-readme, pages

fix: permissions checks
  rootfs/etc/cont-init.d/00-set-permissions
  rootfs/etc/cont-init.d/02-create-ssh-keys
  rootfs/etc/services.d/sshd/run
Due: build-containers

fix: install libpam-ldapd
  Dockerfile
Due: build-containers

feat: move ssh keys to /config
  Dockerfile
  README.md
  rootfs/etc/cont-init.d/02-create-ssh-keys
  rootfs/etc/services.d/sshd/run
Due: build-containers, dockerhub-readme, pages

feat: upgrade s6 overlay
  Dockerfile
Due: build-containers

ci: switch to github actions
  .codacy.yml
  .gitbook.yaml
  .github/workflows/main.yml
  .gitlab-ci.yml
  .prettierrc
  build/build.sh
  build/prepare_builder.sh
Due: build-containers, dockerhub-readme, pages

fix(Dockerfile): update labels
  Dockerfile
Due: build-containers

docs(README): remove old labels
  README.md
Due: dockerhub-readme, pages

fix: bump debian version
  Dockerfile
Due: build-containers

chore: actually bump debian version
  Dockerfile
Due: build-containers

fix: debconf
  Dockerfile
Due: build-containers

fix: revert back to bullseye
  Dockerfile
Due: build-containers

chore: bump to bookworm
  Dockerfile
  rootfs/etc/cont-init.d/00-set-permissions
Due: build-containers
